
    <div class="filter-select">
        {{ fn('locations_select', __('Filter by Church', 'ajc')) }}
    </div>

    <div class="filter-select">
        {{ fn('categories_select', __('Filter by Category', 'ajc')) }}
    </div>

    <a href="{{ fn('page_url', 'archive') }}" class="filter-btn">Archives<!-- &rarr;--></a>

    <!--div class="promos">
        <a href="/"><img src="http://placehold.it/203x148"/></a>
        <a href="/"><img src="http://placehold.it/203x148"/></a>
    </div-->

    <!-- TODO: List tags here? -->
