
header,
.fullbleed {
  @include hero-background;
}

/*********************
HERO WITH VIDEO
*********************/

.video-thumb {
  position: relative;
  height: 306px; // TODO: Use variable? // was 435
  .controls {
    // @include overlay;
    @include center-vertically;
    text-align: center;
    width: 100%;
    // padding-top: 17em; // TODO: Center with CSS
  }
}

/*********************
HERO WITH TEXT
*********************/

.hero-text {
  position: relative;
  min-height: 435px; // 342
  .hero-message {
    margin: 0;
    @include no-hyphens;
    @include center-vertically;
    // padding: 4em 0 4.5em 0; // TODO: Center with CSS
    text-align: center;
    width: 100%;
    font-size: 40px; // 52
    line-height: 1.39em;
  }
}

/*********************
TABLET WIDTH
*********************/

@include media($medium) {
  .video-thumb {
    height: 546px; // TODO: Use variable?
  }
  .hero-text {
    min-height: 536px;
    .hero-message {
      font-size: 60px; // 61
    }
  }
}

/*********************
DESKTOP WIDTH
*********************/

@include media($large) {
  .video-thumb {
    height: 590px; // TODO: Use variable?
  }
  .hero-text {
    min-height: 618px; // 634, TODO: Use variable?
  }
}
