
// Grid
///////////////////////////////////////////////////////////////////////////////
$column:                    8%;
$gutter:                    4.33%; // 3.5
$grid-columns:              6;
$max-width:                 920px; // 976

// Visible grid
$visual-grid:               false;
$visual-grid-color:         red;
$visual-grid-index:         front;
$visual-grid-opacity:       0.05;
