
/*********************
MEDIA STYLES
*********************/

.vibe-banner {
  background: url(../images/default-banner.jpg) transparent no-repeat center center;
  background-size: cover;
  height: 50px;
}
